{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/math.combinatorics {:mvn/version "0.3.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :lint {:deps {clj-kondo/clj-kondo {:mvn/version "2025.04.07"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}
  :compute {:main-opts ["-m" "compute"]}
  :export {:extra-paths ["notebooks"]
           :extra-deps {org.clojure/data.json {:mvn/version "2.5.1"}}
           :main-opts ["-m" "export"]}
  :clerk {:extra-paths ["notebooks"]
          :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.18.1158"}}
          :main-opts ["-e" "(require '[nextjournal.clerk :as clerk])(clerk/serve! {:watch-paths [\"notebooks\" \"src\"] :browse true})(clerk/show! \"notebooks/figures.clj\")@(promise)"]}
  :build {:extra-paths ["notebooks"]
          :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.18.1158"}}
          :main-opts ["-e" "(require '[nextjournal.clerk :as clerk])(clerk/build! {:paths [\"notebooks/fundamentals.clj\" \"notebooks/figures.clj\"] :index \"notebooks/figures.clj\" :out-path \"build\"})"]}}}
